.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.actions-header-right div {
  float: right;
  padding-right: 15px;
}

.actions-right {
  float: right;
  padding-right: 15px;
}

.edit-button {
  color: #ffc107;
  cursor: pointer;
}
.edit-button:hover {
  color: #e0a800;
}

.delete-button {
  color: #dc3545;
  cursor: pointer;
}
.delete-button:hover {
  color: #c82333;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
